.header-page{
	width:100%;
}

.header-div{
	width:80%; 
	display:flex; 
	justify-content:space-between;
}

.header-logo-div{
	width:20%;
}

.header-logo-img{
	width:200px;
}

.header-menu-page{
	display:flex; 
	justify-content:space-around; 
	align-items:center;
}

.menu-div{
	position:relative;
}

.header-menu-title{
	width:180px; 
	text-align:center; 
	font-size:20px; 
	font-weight:bold;
	cursor:pointer;
}

.header-menu-div{
	position:absolute; 
	width:180px; 
	text-align:center;
	background-color:white;
	border:1px solid rgba(0, 0, 0, 0.1);
	display:none;
}

.header-menu-href{
	all:unset;
	cursor:pointer;
	font-size:18px;
}

.header-menu-href-div{
	padding:5px; 0px;
	color:rgba(0, 0, 0, 0.5);
	cursor:pointer;
}

.header-menu-href-div:hover{
	color:red;
}

.header-logout-div{
	display:flex; 
	justify-content:center;
	align-items:center;
	width:20%;
}

.header-logout{
	all:unset; 
	cursor:pointer;
	font-size:20px;
}

.header-logout:hover{
	color:red;
}