.login-page{
	width:100%;
}

.login-page-size{
	width:80%;
}

.msg{
	color:red;
}

.input-id{
	width:300px; 
	height:30px; 
	font-size:20px; 
	padding-left:10px;
}

.input-password{
	width:300px; 
	height:30px; 
	font-size:20px; 
	padding-left:10px;
}

.login-button{
	all:unset; 
	cursor:pointer; 
	border:1px solid rgba(0, 0, 0, 0.1); 
	width:315px; 
	height:30px; 
	font-size:20px;
}