.likeAdd{
	cursor:pointer;
}

.likeCancel{
	color:red; cursor:pointer;
}

.graph-bar-div{
	display:flex;
	justify-content:center;
	align-items:end;
	height:100px;
}

.graph-bar-cnt{
	width:30px;
	height:3px;
	background-color:rgba(255, 10, 10, 0.5);
	position:relative;
	border-radius:10px 10px 0px 0px;
}

.graph-bar-content{
	position:absolute;
	width:30px;
	text-align:center;
	top: -20px;
}

.ad-div{
	width:100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.ad-div a img{
	width:720px;
}

.width-100-per{
	width:100%;
}

.width-80-per{
	width:80%;
}

.display-flex{
	display:flex;
}

.rating-page{
	width:30%; 
	font-size:13px; 
	padding-right:20px;
}

.rating-selected-box{
	all:unset; 
	font-size:20px; 
	text-align:center; 
	align-items:center; 
	width:150px; 
	height: 25px; 
	color:orange; 
	width:100%; 
	padding-bottom:10px; 
	font-weight:bold;
}

.rating-select-box{
	all:unset; 
	font-size:20px; 
	text-align:center;
	align-items:center; 
	width:150px; 
	height: 25px; 
	color:red; 
	width:100%; 
	padding-bottom:10px; 
	font-weight:bold;
}